body {
    margin-left: 52px;
    width: 550px;
    background-color: #1F2937;
        
}

h1 {
    font-family: karla;
    font-size: 40px;
}


.Gentext {
    color: white;
    margin-top: 94px;
    margin-bottom: 0;
    font-weight: bold;
}

.Randomtext {
    margin-top: 0;
    margin-bottom: 0;
    color: #4ADF86;
}

p {
    color: #9CA3AF;
    margin-top: 10px;
    }
    
    
button {
    color: white;
    background-color: #10B981;
    margin-top: 50px;
    padding: 12px 18px 12px 18px;
    border: none;
    border-radius: 5px;
    
    
}

#password-el {
    width: 446px;
    border-bottom: 2px solid #2F3E53;
    margin-top: 35px;
}

.container {
    text-align: center;
    display: flex;
    width: 446px;
    justify-content: space-between;
    margin-top: 35px;
    color: #55F991;
    
}

.containerEl, .containerEl2 {
    height: 29px;
    padding-top: 10px;
    width: 211px;
    background-color: #273549;
    border-radius: 5px;
    cursor: pointer;
    
}

#container-el:hover,
#container-el2:hover {
    opacity: 0.8;
}
